<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>



<div class="topnav">
        <a class="nav-link {{ 'active' if active_page == 'home' else '' }}" href="/community"><img src="https://lh3.googleusercontent.com/gec8hqhmmp5QZ5VDHxlrqBve1I_AsbpvIe4rgEhlnrElFzz5oXhBLmQpqXfa2weuPivftE6namlhJ7wrs-awLlckOLsR5HkWDA2Yga8B77Mqj4Jj_gxlHveWMRn6lCawDvYfDFbhvmdBEkUiR2_6FfEcdjcNt2B4Ldy9kpLfFeFL0z96VhDQhB3PBbSq_UHunUthg2t9GyuJ2fMiw29DfOpRxe8zzfvOCNowWhFA_bCdxAdHgqLaRjMP2h9uNCX0wCVGdm4uEiiG_HMEe1rL_5JJJHUOQSlk6HbE5QiwEy85LoB5HERpb0TFxtTrIwemP68-wnanLsHY8mXbYOBugV14Pwfg6tgx5ZXaGAdRvqBsYvUlrbX3Um7QOjd6k8qWFXf23Vl3kA2vB6ZtktLyAbC55oO07GId_Ad1e9nWsETkII36n1uk5yEMXCDvIh9tt-5M_9_YkvyZ9GvSSZOYkPoc0HaUaN3EN6qpxDlTkgJIj8ZqGXv4RfjSeBuLHrV2bfmIwZnG85C2AG2uwUfmEd9bbFQvV2fSjIwS-QsP1mReVcOqA8AuTKb72ekijlNUMMhq6eI200T5wFiRE5s0PJBEo2d45plHKbtERvx92_AtrroFBmvXUap3HwzPun4K8iuYrScvXyRamHTy0OYkBa48lRoKSrziE4fYpi2uhFupAEzLiN0PbVARXFeQzZJe4dt11SB68BMLgdZhDBbLA80fKBWRhGMWk9epNtLlhcxOpMEDwhuyrSIu18p47F_9d2FC00Qv5wdXH0Bht8sockl2N9iacwU=w712-h280-no?authuser=0" height="50px"" alt=""></a>
        <a class="nav-link {{ 'active' if active_page == 'login' else '' }}"  style= "float:right" href="/login">Login</a>
        <a class="nav-link {{ 'active' if active_page == 'dash' else '' }}"style= "float:right" href="/community">Community</a>
        <a class="nav-link {{ 'active' if active_page == 'dash' else '' }}"  style= "float:right" href="/create">Create a Post</a>
        <!-- <a class="nav-link {{ 'active' if active_page == 'login' else '' }}" style= "float:right" href="/logout">Logout</a> -->
        
    </a>
</div>
<div class="row">
  <div class="leftcolumn">
    <div class="card">
        <div class="">
          <h1>SHARE</h1>
          <button type="button">
            <a href="/create">Create a Post</a>
          </button>
          <!-- <a href="./create">
            <img src="https://assets.bonappetit.com/photos/59dcf404f157aa02e71ad176/master/pass/Avo.jpg" width="300" height="auto"">
          </a> -->
        </div>
      </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <div class="">
        <a href="./community">
          <img src="https://lh3.googleusercontent.com/1JzwJ7F7IwKXtPjobzXimj5Lv4RSDPuQVdJybjrt_LaadI1ki84GgQIE8Lkx-jivFdSJcSFr4_7t95RDKhuICfAwLfPaps6cXfP-_zXXYaQPAqPATfbGe3uie4xSXnowmuseutQAQYOZ87G4De9KmrkagPKUyxJf7g3nfkbr8ApSAhxOAAelpJ8ropunA5uOOA8X_xba9z84qDQo0MFqJMKIUWevqHWa4oX1Jhg_lul10z0Z3kl2l3tRw0-fznFHlNBUXcmggyBlQEVZI-lHkcA7SVZxtKN1lGxpf8E48SAZ_PFwOBpVQICNGtKyBQ9c4KuZ-AD8d6PPVmRo1CqT4eB07qt3C8LedG4O-EWvp8buDEdEBmJPMlrTmVE3eeMeDtHGNALDiTVex0vbjRJzKX0ruJk7ZtXl-vN7fDIppgo_WOglSJ0CDfZP8bZjekxPehgcM81DJcnEocNoT2Qb43VFZyq9FiPMIagIuRqLCNxJ164OsJego5LzKHAmnMcWL0-13EWMPuNWp4qHaT1Lo6ThHIFguelgY-rsJsgXZ5XIfgZumd_W0LIS2cXzwDsVOhsWwe8mBkOCKxX0v7pM6pLmkbPgPrroSpPbmnato6PYLoovnS9l1TMazWbycqriWhy-314aDBKpJpsifBaFA7C6_-f-qJFfO05RUm2HY4u0mesoNbv1UcJuSg-bTeC3wWyKWSdbGpIJ7dQ-e2AFIiv-buGrv-3oiqjHJ1OJfC6_9cYZ6DgF8Al9vvxFuu-Me385jgpNzi_9Ph9mtJ8YkoyJBn2aDzY=s512-no?authuser=0" width="300" height="auto"">
        </a>
      </div>
    </div>
  </div>
  <div class="middlecolumn">
    <div class="card">
      <div class="">
        <!-- <a>
          <img src="https://assets.bonappetit.com/photos/59dcf404f157aa02e71ad176/master/pass/Avo.jpg" width="300" height="auto"">
        </a> -->
          <h1>FIND</h1>
          <form action="{{ url_for('main.create_post') }}" method="post"> 
            <input type="text" name="location" placeholder="location">
        </form>
      </div>
    </div>
  </div>
</div>
<!-- {% block content %}
{% endblock %} -->
</body>
</html>

