<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>



<div class="topnav">
        <a class="nav-link {{ 'active' if active_page == 'home' else '' }}" href="/community"><img src="https://lh3.googleusercontent.com/lyyKDlcgpUhTawngJkqnXV6d7L9N6PYE4juNHXaWKFZ2gNGbPhDlImREsndD5r81INffK_MDAokhJZbd2WDBJr8BMFBreQp0vjah8Sce-pkP4MynCmX3CAilDDZ3jKHsRTXRBUf3vbCmgzzKzxEbhII052V7AK6obF0CvRe0G0XSdn-ikbF-H_BnNxrik1WTKXL_JkkwX5Yv8rJFu2HHkVtiNCjZepwddruyelqXbbSwnWg9F9wTyTQ3Ck5Gd8RBCs_t8l5-nhiVx-anjXsaTMN29rF4SpqZeXzAJchrxRwE-ztCtDcy8u4qzBxEsxIn2kKXYvAaEUNUOXItmEaG51k9BPql3_ryeBoDW_27cbj0KIsETdPpUL0VYgQF2s8a6Av1hY5xbBc1P179E71S-MAsdmbKFlI60klQmhza23xHnouhsXiheS47pmxuw2AbC9ESn-cWfNdBkCfGfVXvsp40AiO7Z0XMCiPzxWoVFO2xq0FyrMsyE-7jWEndOW386efvT5LLg7oTpoQpD4Bmpfq8MxVm-8ERtReAfIDn9nQoafs2VAEWLg1DnhOTD30ccj-gVioB-qPjxOeAEAMATYxTuAFr5APY_7g_MUCnQAQVO3r52Atyj-Lj27IpZDKe617KgupBQuICJfr_Vylq15Gm4lqmJYXGbYeRYZSOZucOEtWR_Y2-cU6gr5vTXupH49u-jR2PaJ82Q3DgSJKMvYnSugBc2d2VcY6B9AoXjuRbDZeOpZRzhwjGmuQ7gt7LaTOb2JClgTzM_dOCT6pCLLdmYKmhl1M=w712-h280-no?authuser=0" height="50px"" alt=""></a>
        <a class="nav-link {{ 'active' if active_page == 'login' else '' }}"  style= "float:right" href="/login">Login</a>
        <a class="nav-link {{ 'active' if active_page == 'dash' else '' }}"style= "float:right" href="/community">Community</a>
        <a class="nav-link {{ 'active' if active_page == 'dash' else '' }}"  style= "float:right" href="/create">Create a Post</a>
        <!-- <a class="nav-link {{ 'active' if active_page == 'login' else '' }}" style= "float:right" href="/logout">Logout</a> -->
        
    </a>
</div>
<div class="row">
  <div class="leftcolumn">
    <div class="card">
        <div class="">
          <h1>SHARE</h1>
          <button type="button">
            <a href="/create">Create a Post</a>
          </button>
          <!-- <a href="./create">
            <img src="https://assets.bonappetit.com/photos/59dcf404f157aa02e71ad176/master/pass/Avo.jpg" width="300" height="auto"">
          </a> -->
        </div>
      </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <div class="">
        <a href="./community">
          <img src="https://lh3.googleusercontent.com/6WNIhytSTdSL3WXvVwTjJIjZtXEPuK9yeQB477_Ne8D7Wp2HXbDoAdvIShRYhGu9fiDvWdtYvFeQ9R49nM1-YE7Y0HGj-orSzxPVFzAkHggNec2xzS4gsny2OFrxLDNtPiKKMnVCPwOOo04kQNdz5w1HbdIq8-egiV8KTYsvs6Q3UlAcKTTz6sKlK8ytNr-ViMAGXd11TIp_9UDPJcY8fQSNWV6hOtO7ieZzodAVsbs_79nLX5-fBkE-GJgVSqBMVhRSs48oMPTeZvZyqnj32VBtCgYOYz89zyeRjJkWhDaSv4myGL0O9nt-PsTQ6LXvmGyYZJEiCNpfps0uHsQmDJYky5L6V36jVkWlszKmKMTgEYEUfecztq50LMhEiBo8OLK4bq7ckDS8D4jX-vPUxAsN-ZAy_CavxHVV0SR0sZ0J-zcJt2FKJ_BwQubEJMmx6Bj5Of5rKCP6yWfQazOvjjF8tsjmeryo5Ei1byZSKv-LjigQGrIEUbofuT9ud9JP9POqQayRJ2ijigN5H3TJWlj-aPqUVFtxIlaagBzs_0HxKp-0Wi1ITxQRLhDK-le6hmgLG-GDNab0ml-X7mCqS7elF1EXVeuL5B0eIHg-dvyMnlXz_TViEy4XyGO_cSIdlWvLuxRTh25Iqiiqng0xtExffG-t8MKrznrHf_RFyGz7O5P3jS-oQUED6Gevb66tNFB0cu9uMrqTaa0cS1Bhi0nh87LR4nBgHX9RjIPznMyt4eAlzaAhK8yCAScqTygd7bstFED_FIevgFhscfKUGahFxgqYi8g=s512-no?authuser=0" width="300" height="auto"">
        </a>
      </div>
    </div>
  </div>
  <div class="middlecolumn">
    <div class="card">
      <div class="">
        <!-- <a>
          <img src="https://assets.bonappetit.com/photos/59dcf404f157aa02e71ad176/master/pass/Avo.jpg" width="300" height="auto"">
        </a> -->
          <h1>FIND</h1>
          <form action="">
            <input type="text" placeholder="location">
        </form>
      </div>
    </div>
  </div>
</div>
<!-- {% block content %}
{% endblock %} -->
</body>
</html>

